<!DOCTYPE html>
<div class="footer">
  <div class="social-icon">
    <div class="social-item">
      <a href=" https://www.facebook.com/hamad.fyad"><img style="float: left;margin-left: 220px;" src="https://img.icons8.com/color/96/000000/facebook.png" /></a>
    </div>
    <div class="social-item">
      <a href="https://www.instagram.com/hamad_fyad/"><img style="float: left;margin-left: 220px;" src="https://img.icons8.com/fluent/96/000000/instagram-new.png"/></a>               
    </div>
    <div class="social-item">
      <a href="https://twitter.com/hamad.fyad"><img style="float: left; margin-left: 220px;" src="https://img.icons8.com/nolan/96/twitter-squared.png" /></a>
    </div>
    <div class="social-item">
      <a href="https://mail.google.com/mail/u/0/#inbox"><img style="float: left;margin-left: 220px;" src="https://img.icons8.com/fluent/96/000000/gmail--v2.png" /></a>
    </div>
  </div>
</div>


