<!DOCTYPE html>
<div class="col-6">
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label style="color:white ;">mail</label>
        <input type="email" class="form-control" name="mail" formControlName="mail" required>
    </div>
      <div class="form-group">
        <label style="color:white ;">password</label>
        <input type="password" class="form-control" name="password" formControlName="password" required>
    </div>
    <button type="submit">Login</button>
</form>
<br>
<p style="color:white ;">not registerd yet?<button class="btn" style="color:white;" (click)="back()">register</button> </p>

</div>
    
