body {
    margin: 0;
    background-image: url("https://wallpapercave.com/wp/wp9302062.jpg");
    background-color: #cccccc;
    height: 752px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-family:Arial, Helvetica, sans-serif
      }
