<!DOCTYPE html>
<div class="col-auto bg-light" style="text-align: center; width: 180px;">
    <span class="fs-4">Pick A Genre</span>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <button (click)="sendBuildings()" class="nav-link link-dark">
            Buildings
        </button>
      </li>
      <li>
        <button (click)="sendVillas()" class="nav-link link-dark">
            Villas
        </button>
      </li>
      <li>
        <button (click)="sendApartments()" class="nav-link link-dark">
            Apartments
        </button>
      </li>
    </ul>
  </div>
  